<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="bio.Properties.Settings.autenticarConnectionString" connectionString="Data Source=COMPUTADORA_CEN;Initial Catalog=autenticar;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="bio.Properties.Settings.notariaConnectionString" connectionString="Data Source=COMPUTADORA_CEN;Initial Catalog=notaria;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="bio.Properties.Settings.notariaConnectionString1" connectionString="Data Source=COMPUTADORA_CEN;Initial Catalog=notaria;User ID=sa;Password=escritura/123" providerName="System.Data.SqlClient"/>
    <add name="bio.Properties.Settings.autenticacionConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\autenticacion\autenticacion.accdb" providerName="System.Data.OleDb"/>
    <add name="bio.Properties.Settings.VerDBConnectionString" connectionString="Data Source=COMPUTADORA_CEN;Initial Catalog=VerDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
